**/node_modules/
.pnpm-store/

.next/
dist/
build/

target/

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.DS_Store
.vscode/
npm-debug.log*

# Python
.venv/
__pycache__/
*.pyc

package-lock.json

# Python virtual environment in scripts/
scripts/Lib/
scripts/Scripts/
scripts/pyvenv.cfg

# zip files
*.zip